body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

/* top banner section */
.top-banner {
    background: url(images/top-banner.png) no-repeat;
}
section {
    display: flex;
    padding-bottom: 150px;
}
.half-width {
    width: 40%;
    float: left;
    /* border: 1px solid red; */
    margin-left: 65px;
    padding-left: 25px;
}

.half-width img {
    width: 100%;
}

.half-width p {
    text-align: justify;
    color: dimgray;
}

.link-button {
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 15px 45px;
    border-style: none;
    border-radius: 5px;
}

.link-button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.link-button a:hover{
    color: dimgray;
}
/* dream section */
.dream-big{
    background: url(images/dream-bg.png) no-repeat right;
}